<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
 <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
 <title></title>
</head>
<body>
 <style type="text/css">
  .content{width:300px;margin:0 auto;min-height:100px; height:auto;border:1px solid #333;background:#999;}
 </style>
 <div class="content">我是自适应高度的内容哦.内容搜索多了我就高度也就自动撑开了!我是自适应高度的内容哦.内容多了我就高度也就自动撑开了!我是自适应高度的内容哦.内容多了我就高度也就自动撑开了!我是自适应高度的内容哦.内容多了我就高度也就自动撑开了!我是自适应高度的内容哦.内容多了我就高度也就自动撑开了!我是自适应高度的内容哦.内容多了我就高度也就自动撑开了!我是自适应高度的内容哦.内容多了我就高度也就自动撑开了!我是自适应高度的内容哦.内容多了我就高度也就自动撑开了!</div>
</body>
</html>