* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    margin: 0;
    padding: 20px;
    background-color: #fafafa;
    color: #333;
}

.container {
    width: 65%;
    margin: 0 auto;
}

